{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plug</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plug.id }}</td>
            </tr>
            <tr>
                <th>Day</th>
                <td>{% if plug.day %}{{ plug.day|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Behavior</th>
                <td>{{ plug.behavior }}</td>
            </tr>
            <tr>
                <th>Work</th>
                <td>{% if plug.work %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_space_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_space_edit', { 'id': plug.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
